__pycache__/
*.pyc
.env
echo "instance/*.db"instance/*.db
app/__pycache__/models.cpython-312.pyc
app/__pycache__/market_fetcher.cpython-312.pyc
instance/portfolio.db
portfolio.db
utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/financial_metrics.cpython-312.pyc
